<div id="<%= dom_id truck %>">
  <p>
    <strong>License plate:</strong>
    <%= truck.license_plate %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= truck.capacity %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= truck.truck_id %>
  </p>

</div>
