<div id="<%= dom_id plantation %>">
  <p>
    <strong>Name:</strong>
    <%= plantation.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= plantation.location_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= plantation.area %>
  </p>

</div>
