<h1>Editing plantation</h1>

<%= render "form", plantation: @plantation %>

<br>

<div>
  <%= link_to "Show this plantation", @plantation %> |
  <%= link_to "Back to plantations", plantations_path %>
</div>
